@media (max-width: 1280px) {
	#layoutSidenav #layoutSidenav_nav {
		flex-basis: 268px;
		transform: translateX(-268px);
	}
	.ml-lg-3,
	.mx-lg-3 {
		margin-left: 0.6rem!important;
	}
	.ml-0,
	.mx-0 {
		margin-left: 0!important;
	}
	.teamList {
		max-width: 270px;
	}
	.ml-4,
	.mx-4 {
		margin-left: 1.2rem!important;
	}
	.team-logo,
	.teamList .picx {
		width: 73px;
		height: 73px;
	}
	.teamList .picx img {
		width: 71px;
		height: 71px;
	}
	.mr-4,
	.mx-4 {
		margin-right: 1.5rem!important;
	}
	.btn-round {
		padding: 5px 10px;
	}
}

@media (max-width: 1199px) {
	.button-groupc {
		max-width: 120px;
	}
	.price_range {
		min-width: 230px;
	}
	.feed_filter .theme-group {
		max-width: 195px;
	}
	.button-groupc .btn {
		width: 100%;
		text-align: center;
		justify-content: center;
		margin: 2px 0;
	}
	.button-groupc .vr {
		width: 28px;
		height: 1px;
		margin: 4px 0;
	}
	.teamCSextion {
		align-items: center;
	}
	.teamList {
		max-width: 260px;
	}
}

@media (min-width: 992px) {
	#layoutSidenav #layoutSidenav_nav {
		transform: translateX(0);
	}
	#layoutSidenav #layoutSidenav_content {
		margin-left: 0;
		transition: margin 0.15s ease-in-out;
	}
	.sb-sidenav-toggled #layoutSidenav #layoutSidenav_nav {
		transform: translateX(-305px);
	}
	.sb-sidenav-toggled #layoutSidenav #layoutSidenav_content {
		margin-left: -305px;
	}
	.sb-sidenav-toggled #layoutSidenav #layoutSidenav_content:before {
		display: none;
	}
}

@media (max-width: 991px) {
	.sb-topnav .navbar-brand {
		width: 193px;
	}
	.feed_filter .theme-group {
		max-width: 151px;
	}
	.auth-section .fxt-bg-wrap {
		padding: 20px 30px 20px 0;
	}
	.auth-section .fxt-bg-color {
		padding: 20px
	}
	.auth-section ul.fxt-socials {
		padding: 0;
	}
	.auth-section .fxt-bg-img {
		padding: 20px;
	}
	#layoutSidenav #layoutSidenav_content {
		margin-left: -265px;
	}
}

@media (max-width: 767px) {
	.auth-section .fxt-bg-wrap {
		padding: 15px;
	}
	.auth-section .fxt-bg-color {
		padding: 20px 10px
	}
	.auth-section .fxt-content {
		padding: 0;
	}
	.fxt-logo img {
		width: 150px;
	}
	.auth-section .fxt-checkbox-area {
		align-items: center;
	}
	.auth-section .fxt-checkbox-area a.switcher-text {
		margin-top: 7px;
	}
	.auth-section .fxt-content h3 {
		font-size: 1.2rem;
	}
	.auth-section .fxt-content h2 {
		font-size: 1.4rem;
		letter-spacing: 2px;
	}
	.auth-section .fxt-form {
		padding: 20px;
	}
	.auth-section:before {
		display: none;
	}
	.teamCSextion {
		padding: 17px 6px;
	}
	.teamList {
		margin: auto;
	}
	.button-groupc {
		max-width: none;
	}
	.button-groupc .btn {
		width: auto;
		padding: 5px;
		font-size: 12px;
		margin: 2px;
	}
	.social-container {
		margin: 18px 0!important;
	}
	.button-groupc .vr {
		width: 1px;
		height: 24px;
		margin: 0 6px;
	}
	.btn-theme-group {
		width: 100%;
		align-items: center;
		justify-content: center;
	}
	.sb-topnav .navbar-brand {
		width: calc(100% - 175px);
		order: 2;
	}
	.sb-topnav {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		padding: 0.5rem!important;
	}
	.sb-topnav ul.navbar-nav.ml-auto {
		display: inline-flex;
		width: 100%;
		justify-content: center;
		order: 5;
	}
	.notiBox a {
		/* border:0!important; */
		/* padding: 0; */
	}
	.d-md-inline-block.form-inline {
		display: inline-flex;
		order: 3;
	}
	ul.navbar-nav.ml-auto {}
	.sb-topnav ul.navbar-nav.ml-auto.ml-md-0 {
		width: auto;
		order: 4;
		margin-left: 0!important;
		margin: 0!important;
		background: transparent;
	}
	.sb-topnav ul.navbar-nav.ml-auto.ml-md-0 .media-body {
		display: none;
	}
	.feed_filter {
		padding: 0 20px;
	}
	.price_range {
		min-width: 223px;
	}
	.chat_ib {
		min-width: auto;
	}
	#layoutSidenav #layoutSidenav_nav {
		flex-basis: 268px;
		transform: translateX(-338px);
	}
	#layoutSidenav #layoutSidenav_content {
		margin-left: -265px;
	}
	.mw-200 {
		min-width: 200px
	}
}

@media(max-width: 576px) {
	.contacts_card {
		margin-bottom: 15px !important;
	}
	.auth-section ul.fxt-socials li {
		margin-right: 2px;
	}
	.postLisitng {
		position: relative;
		margin: auto;
		text-align: center;
		display: flex;
		justify-content: center;
		margin-bottom: 10px;
		margin-top: 10px;
	}
	.feed_filter .theme-group {
		max-width: 250px;
		margin: 20px 0;
		width: 100vw;
	}
	.drop-type .mx-2.mx-xl-4 {
		min-width: calc(50% - 1rem);
	}
	.custom-tab div {
		padding: 0 0;
	}
	.theme-pills.nav-pills .nav-link,
	.theme-pills.nav-pills .nav-link.active {
		padding: 17px 7px;
		font-size: 14px;
	}
	.teamList {
		border: 0;
	}
	.button-groupc .vr {
		display: none;
	}
	.notiBox .notifications {
	    min-width: 240px;
	}
	.team-logo,
	.teamList .picx {
		width: 53px;
		height: 53px;
	}
	.teamList .picx img {
		width: 51px;
		height: 51px;
	}
}